<style> 
html, *,body
{
 font-family: "Microsoft YaHei" ;
 margin:0;
padding:0;
font-size:12px;
}
a
{
color:black;
text-decoration:none;
}
a:hover
{
color:black;
text-decoration:none;
}
a:visited
{
text-decoration:none;
color:black;
}
a:active
{
text-decoration:none;
color:blue;
}
.sibar-right
{
float: right;
width:400px;
}
.sibar-right .input-group
{
    margin-top: 31px;
    width:270px;
}
.sibar-right .input-group .form-control
{
    width:270px;
    bottom: 0;
}
.cart
{
    height: 29px;
    margin-top: -31px;
    width:80px;
    float: right;
    background-color:#ec680c ;
    padding:10px;
    -moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
}
.cart span
{
    display: block;
    height: 29px;
    line-height: 29px;
    text-align: center;
    margin-left: 12px;
    margin-top: -23px;
}
/*导航下拉效果*/
ul,li {list-style-type:none; text-transform:capitalize;text-align:center;}
/*menu*/

#nav .mainlevel {background:#ec680c; float:left;/*IE6 only*/}
#nav .mainlevel a {color:#fff; text-decoration:none; line-height:32px; display:block;  width:100%;}
#nav .mainlevel a:hover { text-decoration:none;}
#nav .mainlevel ul {display:none; position:absolute;margin-left:0px;overflow:hidden}
#nav .mainlevel li {overflow:hidden;border-top:1px solid #fff; background:#ec680c; width:140px;/*IE6 only*/}
#nav { display:block;text-align:center;color:#fff;}
/*导航下拉效果结束*/
.container #nav
{
    padding: 0;
}
.container .navi-left
{
    background-color: #fafafa;
    border: 1px solid #efefef;
}
.container .navi-left li
{
    list-style-type: none;
    text-align: left;
    height: 35px;
    line-height: 35px;
}
.container .navi-left .line
{
    border-bottom: 1px solid #efefef;
    width: 80%;
    display: block;
}
.news
{
    width: 80%;
    float: right;
    border: 1px solid #efefef;
 }
 .overview
 {
    width:100%;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 20px;

 }
.overview #left
{
    float: left;
    width: 67px;
    height:67px;
}
.overview #right
{
    margin-left: 30px;
    float: left;
}
.nopaymentorder
{
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}
.nopaymentorder h5
{
    background-color: #fafafa; 
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    height: 30px;
    line-height: 30px;
}
.notreceivedorders
{
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
}
.notreceivedorders h5
{
    background-color: #fafafa; 
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    height: 30px;
    line-height: 30px;
}
.shoppingcart
{   
    margin:0;
    padding: 0;
    width: 50%;
    float: left;
    overflow: hidden;
}
.shoppingcart h5
{    
    margin: 0;
    background-color: #fafafa;  
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    height: 30px;
    line-height: 30px;
}
.favorite
{    
    margin:0;
    padding: 0;
    width: 50%;
    float: left;
    overflow: hidden;
    border-left: 1px solid #efefef;
}
.favorite h5
{
    margin: 0;
    background-color: #fafafa;  
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;    
    border-left: 1px solid #efefef;
    height: 30px;
    line-height: 30px;
}
hr.lang
{   size:7px;
    width:900px;
}
hr.short
{
	size:1px;
	width:70px;
}
</style>
