<html>
<head>
</head>
<body>
<table>
<tr>
<td>
  <div style="padding:0px; border:groove; height:250px; width:185px;">
      <div style="margin:5px;border-color:#666; border-width:px; padding:5px; width:170px; height:120px;">
      <img onMouseOver="bigImg(this)" onMouseOut="normalImg(this)" src="head.png">
      </div>
      <div style="padding-left:0px; margin-left:-35px;">
        <ul>
           <li>name</li>
           <li>fullname</li>
           <li><button><img src="sibar.png"></button></li>
        </ul>
      </div>
   </div>
</td>
<td>
  <div style=" border-color:#C90;padding:0px; border:double; height:250px; width:185px;">
      <div style="margin:5px;border-color:#666; border-width:px; padding:5px; width:170px; height:120px;">
      <img onMouseOver="bigImg(this)" onMouseOut="normalImg(this)" src="head.png">
      </div>
      <div style="padding-left:0px; margin-left:-35px;">
        <ul>
           <li>name</li>
           <li>fullname</li>
           <li><button><img src="sibar.png"></button></li>
        </ul>
      </div>
   </div>
</td>
</tr>
<tr><div style="padding:0px; border:double; height:250px; width:185px;">
      <div style="margin:5px;border-color:#666; border-width:px; padding:5px; width:170px; height:120px;">
      <img onMouseOver="bigImg(this)" onMouseOut="normalImg(this)" src="head.png">
      </div>
      <div style=" bopadding-left:0px; margin-left:-35px;">
        <ul>
           <li>name</li>
           <li>fullname</li>
           <li><button><img src="sibar.png"></button></li>
        </ul>
      </div>
   </div>
   </tr>
</table>

</body>
</html>