<style>
//修改密码的css
 html, body, *
 {
 font-family: "Microsoft YaHei" !important;
 margin:0;
padding:0;
font-size:12px; }
a
{
color:black;font-family: "Microsoft YaHei" !important;
text-decoration:none;
}
a:hover
{
color:black;text-decoration:none;
}
a:visited
{
color:black;
}
a:active
{
color:blue;
}
.head
{
height:80px;
background-color:#ececec;
width:100%;
min-width:1000px;
}
.head img
{
padding-top:25px;
padding-left:27%;
}
.content
{
	background:#fafafa;
	height:380px;
	width:45%;
	min-width:750px;
	position:relative;
	margin:0 auto;	
	margin-top:70px; 
	border:1px solid #CCCCCC;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/
    -moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
    -webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
    box-shadow:2px 2px 10px #909090;/*opera或ie9*/
}
.cont-head
{
	height:40px;
	width:100%;
	border-bottom:2px dotted #CCCCCC;
}
.cont-head h4
{
 font-weight: bold;
margin:0 auto;
margin-left:10px;
line-height:40px;
float:left;
}
.cont-head span
{
color:#ec680c;

}
.cont-head h6
{
	color:#ec680c;
	margin:0 auto;
	float:right;
	margin-right:10px;
	margin-left:10px;
	line-height:40px;
}
.form table{
border-collapse:collapse;border:none;font-family: "Microsoft YaHei" !important;
width:100%;
margin-left:42px;
margin-top:20px;
}
.form input{
	width:300px;height:30px;margin-top:3px;
}
.form table tr
{
height:47px;
}
.form table tr td
{	
	padding-left:10px;
	margin-left:10px;
}
.span{

	text-align:right;	width:130px;
}
</style>