/* CSS Document */
*{ margin:0 auto; padding:0px;}

.loginDiv{ width:100%; overflow:hidden; min-width:1000px;}


.loginDiv0{ width:500px; overflow:hidden;}

.loginLogo{ width:500px; text-align:center; line-height:50px; margin-top:11% !important; overflow:hidden;}

.loginLogoH3{ font-size:24px; font-family:"微软雅黑"; line-height:50px; margin:20px 0px 0px 0px !important;}

.loginLogoP{ line-height:38px; font-size:12px; font-family:"微软雅黑"; color:#888888; margin:0px 0px 60px 0px !important;}

.loginLogoInput{ width:252px; overflow:hidden;}

.loginLogoInputText{ 
  border-radius: 4px 4px 0px 0px !important;
  border: 1px solid #ccc;
}
.loginLogoInputTextEnd{ 
  border-radius: 0px 0px 4px 4px !important;
  border: 1px solid #ccc;
  border-top:0px !important;
}

.loginBtn{ background-color:#ec680c !important; width:100%; margin:10px 0px 0px 0px !important;}

.loginReg{ width:252px; line-height:30px; color:#888888; font-size:12px; font-family:"微软雅黑";}

.loginReg a{ float:right; color:#888888; text-decoration:none;}

.loginRegBtn{ width:252px; margin:10px 0px 0px 0px !important; color:#727171 !important;}

.loginFoter{ margin-top:15%; width:500px; text-align:center; line-height:30px;}

.loginFoter p{ font-size:12px; font-family:"微软雅黑"; color:#727171; line-height:30px;}
